<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/index.scss" />
  </head>
  <body>
    <div class="columns is-gapless">
      <div class="column">
        <div class="cube">
          <div class="cube__inner">
            <div class="cube__face cube__face--front">
              <p>
                front
              </p>
            </div>
            <div class="cube__face cube__face--back">
              <p>
                back
              </p>
            </div>
            <div class="cube__face cube__face--left">
              <p>
                left
              </p>
            </div>
            <div class="cube__face cube__face--right">
              <p>
                right
              </p>
            </div>
            <div class="cube__face cube__face--top">
              <p>
                top
              </p>
            </div>
            <div class="cube__face cube__face--bottom">
              <p>
                bottom
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="cube">
          <div class="cube__inner">
            <div class="cube__face cube__face--front">
              <p>
                front
              </p>
            </div>
            <div class="cube__face cube__face--back">
              <p>
                back
              </p>
            </div>
            <div class="cube__face cube__face--left">
              <p>
                left
              </p>
            </div>
            <div class="cube__face cube__face--right">
              <p>
                right
              </p>
            </div>
            <div class="cube__face cube__face--top">
              <p>
                top
              </p>
            </div>
            <div class="cube__face cube__face--bottom">
              <p>
                bottom
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="cube">
          <div class="cube__inner">
            <div class="cube__face cube__face--front">
              <p>
                front
              </p>
            </div>
            <div class="cube__face cube__face--back">
              <p>
                back
              </p>
            </div>
            <div class="cube__face cube__face--left">
              <p>
                left
              </p>
            </div>
            <div class="cube__face cube__face--right">
              <p>
                right
              </p>
            </div>
            <div class="cube__face cube__face--top">
              <p>
                top
              </p>
            </div>
            <div class="cube__face cube__face--bottom">
              <p>
                bottom
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="cube">
          <div class="cube__inner">
            <div class="cube__face cube__face--front">
              <p>
                front
              </p>
            </div>
            <div class="cube__face cube__face--back">
              <p>
                back
              </p>
            </div>
            <div class="cube__face cube__face--left">
              <p>
                left
              </p>
            </div>
            <div class="cube__face cube__face--right">
              <p>
                right
              </p>
            </div>
            <div class="cube__face cube__face--top">
              <p>
                top
              </p>
            </div>
            <div class="cube__face cube__face--bottom">
              <p>
                bottom
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/index.js"></script>
  </body>
</html>
