@import 'normalize.css/normalize.css';
@import '~bulma/bulma.sass';
@import './cube.scss';

// DEMO
.cube__face {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
